body{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
    width: 100%;
    height: 100px;
}

.untubuntu{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
  background-color: black;
  list-style: none;
  margin-left: 2rem; 
  letter-spacing: 2px;
  width:fit-content; 
  
}

.btn-group button {
  background-color: black; 
  border: 1px solid black; 
  color: white; 
  cursor: pointer; 
  display: inline-block;
}


.btn-group button:hover {
  background-color: grey;
}

.mainheader{
  font-size: 55pt;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif; 
  margin-left: 2rem;
  margin-top: -1rem;
}

.wrap{
  position:absolute;
  background-color: white;
  width:100%;
}

.header2 {
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.2s steps(40, end),
      blink-caret .75s step-end;
      animation-fill-mode: forwards;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }

#rectangle{
    align-content: center;
    width:500px;
    height:300px;
    background: white;
    position:fixed;
    top: 80%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#rectangle .button1{
  font-size: 70%;
  justify-content: flex-end;
}

#rectangle .button2{
  font-size: 70%;
  justify-content: flex-end;
}